nav
  ul
    display: flex
    gap: 15px
    list-style: none
    background: $color-secondary
    padding: 10px
    border-radius: 5px
    li
      margin: 0px
      a
        color: $color-initial
        &:hover
          color: $color-tertiary
          font-weight: 800
